<% include partials/header.ejs %>
        <div class = "container">
            <% tasks.forEach((task)=>{ %>
                <p>tick<%= task.ClientId %></p>
                
            <% }); %>
        </div>
        
    </body>
</html>